<div class="page">
    <h1>Welcome to CSE Motors</h1>
    <%- messages() %>

    <section class="hero">
        <img class="hero_image" src="/images/vehicles/delorean.jpg" alt="delorean">
        <div class="hero_overlay">
            <h2>Delorean DMC</h2>
            <p>3 Cup holders<br>Superman doors<br>Fuzzy dice!!!</p>
            <a class="btn" href="#">Own Today</a>
        </div>
    </section>

    <section class="bottom">
        <div class="upgrade">
            <h2>Delorean Upgrades</h2>
            <div class="upgrade-grid">
                <a class="upgrade-card">
                    <img src="/images/upgrades/flux-cap.png" alt="flux-capacitor">
                    <p>Flux Capacitor</p>
                </a>
                <a class="upgrade-card">
                    <img src="/images/upgrades/flame.jpg" alt="flame decals">
                    <p>Flame Decals</p>
                </a>
                <a class="upgrade-card">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
                    <p>Bumper Stickers</p>
                </a>
                <a class="upgrade-card">
                    <img src="/images/upgrades/hub-cap.jpg" alt="hub caps">
                    <p>Hub Caps</p>
                </a>
            </div>
        </div>
        <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <p>• "So fast its almost like traveling in time.<br>(4/5)"</p>
        <p>• "Coolest ride on the rode.<br>(4/5)"</p>
        <p>• "I'm feeling McFly.<br>(5/5)"</p>
        <p>• "The most futuristic ride of our day.<br>(4.5/5)"</p>
        <p>• "80's living and I love it!<br>(5/5)"</p>
    </div>
    </section>
</div>