<main>
  <h1><%= title %></h1>

  <p><strong>Something went wrong:</strong></p>

  <p><%- message %></p>

  <hr>

  <p>
    This error has been logged and will be blamed on the intern.
    If the intern cannot be found, blame the server.
  </p>

  <p>
    <a href="/">Return to safety</a>
  </p>
</main>
